.upload {
  position: fixed;
  width: 45px;
  height: 45px;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  font-size: 40px;
  font-family: Arial, sans-serif;
  line-height: 1em;
  border-radius: 50%;
}